<h3 class="heading-3"><i class="fas fa-book">Story Time</i></h3>
<div class="section">
  <p class="lead">Create public and private Developer Stories</p>
</div>
<div class="divider">
</div>
<div class="card-action">
  <a href="/auth/google" class="btn waves-effect blue lighten-1"><i
      class="fab fa-google left"
    ></i>
    Log In With Google</a>
</div>